.bg-body-tertiary {
    background-color: #ee4fa9 !important;
    /* .botonera {
        height: 2.5rem;
        line-height: 2.5rem;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        background-color: #ee4fa9;
        
        .opc {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: all .15s ease-in-out;   
            color: white;
            text-decoration: none;
        }

        .opc:hover {
            background-color: #3a99d9;
        }
        
    } */
}
